nav {
  position: absolute;
  width: 80px;
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-start-start-radius: 25px;
  border-bottom-left-radius: 25px;
}

nav div {
  padding: 10px;
}

.logo{
  width: 100%;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

button {
  display: block;
  width: 100%;
  padding: 8px;
  margin: auto;
  margin-bottom: 5px;
  border: none;
  cursor: pointer;
}

hr{
  margin: auto;
  background-color: black;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 60px;
  margin-left: 5px;
  background-color: #ccc;
  border-radius: 15px;
}

.switch::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.moon-icon {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
.sun-icon {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .switch::before {
  transform: translateY(30px);
}

input[type="checkbox"]:checked + .switch .moon-icon {
  display: none;
}

input[type="checkbox"]:checked + .switch .sun-icon {
  display: block;
}
