<div class="card-messages">
  <div class="avatar"><img  [src]="randomUser.picture.large" alt=""></div>
  <div class="textBox">
    <div class="textContent">
      <p class="name-sender">
        {{ randomUser.name.first }} {{ randomUser.name.last | ellipsis }}
      </p>
      <span class="time">12 min ago</span>
    </div>
    <div class="textContent">
      <p class="text-message"><!-- {{ cardContent | ellipsis }} --></p>
      <div class="badge">1</div>
    </div>
    <div></div>
  </div>
</div>
