<!-- <div class="card">
  <div class="card-img">
    <app-avatar [size]="40" [name]="sender"></app-avatar>
  </div>
  <div class="card-body">
    <h5>{{ sender | ellipsis }} </h5><br /><p> {{ cardContent | ellipsis }}</p>
    <span>20min</span>
  </div>

</div> -->
<div class="card-messages">
  <div class="avatar"></div>
  <div class="textBox">
    <div class="textContent">
      <p class="name-sender">{{ sender | ellipsis }}</p>
      <span class="time">12 min ago</span>
    </div>
    <div class="textContent">
      <p class="text-message">{{ cardContent | ellipsis }}</p>
      <div class="badge">1</div>
    </div>
    <div></div>
  </div>
</div>
<!--
<div class="card">
  <img src="https://randomuser.me/api/portraits/men/48.jpg" alt="Avatar" class="avatar" width="52px" height="52px">
  <div class="content">
      <h4>Javi Herrera</h4><span>20m</span>
      <p>Lorem ipsum dolor ...</p>

  </div>
</div> -->
