.card-messages {
	height: 80px;
	background: var(--DM-Normal);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: left;
	margin-bottom: 0.8rem;
	margin-left: 0.8rem;
	margin-right: 0.8rem;
	backdrop-filter: blur(10px);
	transition: 0.5s ease-in-out;
}

.card-messages:hover {
	cursor: pointer;
	border-right: 15px solid var(--Important-Normal);
}

.avatar img {
	width: 50px;
	height: 50px;
	margin-left: 13px;
	border-radius: 10px;
	/* background: linear-gradient(#d7cfcf, #9198e5); */
}

.card-messages:hover > .avatar {
	transition: 0.5s ease-in-out;
	/* background: linear-gradient(#9198e5, #712020); */
}

.textBox {
	width: calc(100% - 100px);
	margin-left: 10px;
	color: white;
	font-family: 'Poppins' sans-serif;
}

.textContent {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.name-sender {
	font-size: 16px;
	font-weight: bold;
}

.time {
	font-size: 10px;
}

.text-message {
	font-size: 12px;
	font-weight: lighter;
}

.badge {
	font-size: 10px;
	font-weight: bold;
	background: var(--Primary-Normal);
	color: var(--DM-Dark);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 14px;
	height: 14px;
}
