<div class="container">
  <div class="container-chat-list">
    <div class="search">
      <app-search-box></app-search-box>
    </div>
    <div class="chat-list">
      <div *ngIf="currentComponent === 'chat-list'">
        <app-chat-list></app-chat-list>
      </div>
      <div *ngIf="currentComponent === 'contact-list'">
        <app-contact-book></app-contact-book>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="header">
      <div>
        <div class="header-name">Nombre del Contacto</div>

        <div class="header-connected">online</div>
      </div>

      <div class="search-box-message">
        <input type="text" id="search" />
        <button class="more-options" (click)="onclick()">
          <img src="../../../assets/icons/more.svg" />
        </button>
      </div>

      <ng-container *ngIf="visible">
        <div>
          <button
            (click)="deleteAllMessages()"
            style="
              background-color: var(--DM-Dark-hover);
              border-radius: 5px;
              padding: 5px;
              border: none;
              color: var(--LM-Light);
            "
          >
            <img
              src="../../../assets/icons/trash.svg"
              width="12px"
              height="12px"
            /> Borrar todos los mensajes
          </button>
        </div>
      </ng-container>
    </div>

    <div class="messages">
      <div
        class="message sent"
        [style.display]="mensajeVisible ? 'block' : 'none'"
        *ngFor="let mensaje of mensajes"
      >
        {{ mensaje }}
      </div>
      <!-- <div *ngIf="chatSeleccionado">
        
      </div> -->
      <!--   <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div> -->
    </div>
    <form [formGroup]="formulario">
      <div class="box-input">
        <div class="images-icon">
          <button class="btn-import" disabled>
            <img src="../../../assets/icons/img2.svg" alt="" />
          </button>
        </div>
        <input type="text" class="input-message" formControlName="textoInput" />
        <button class="btn-send" (click)="enviarTexto()">
          <img class="icon-send" src="../../../assets/icons/send.svg" alt="" />
        </button>
      </div>
    </form>
  </div>

  <div class="sidebar-right">
    <app-column-right></app-column-right>
  </div>
</div>
