<div class="container">
  <div class="container-chat-list">
    <!-- <div class="logo">Logo</div> -->
    <div class="search">
      <form [formGroup]="searchForm">
        <input type="text" formControlName="searchCriteria" placeholder="Buscar">
      </form>
    </div>
    <div class="chat-list">

      <div *ngIf="isLoading; else chatList">

      <app-loader></app-loader>
    </div>

    <ng-template #chatList>
      <app-chat-list ></app-chat-list>

    </ng-template>

      <!-- <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">20m</div>
      </div>
      <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">1h</div>
      </div>
      <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">2h</div>
      </div>
      <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">3h</div>
      </div>
      <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">4h</div>
      </div> -->
    </div>
  </div>
  <div class="main">
    <div class="header">
      <div class="header-name" >Nombre del Contacto</div>
    </div>
    <div class="messages">
      <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
      </div>
      <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
      </div>
      <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.
      </div>
    </div>
    <div class="input-message">
      <div class="images-icon">🖼️</div>
      <input type="text">
      <button>➤</button>
<!--       <div class="footer-icon">📷</div>
      <div class="footer-icon">🎥</div>
      <div class="footer-icon">🎵</div>
      <div class="footer-icon">📄</div> -->
    </div>
  </div>
  <div class="sidebar-right">
    <div class="contact">
      <div class="contact-name">Fran Noval</div>
      <div class="contact-status">🟢 online </div>
    </div>
    <div class="connected">
      <div class="connected-item">
        <div class="connected-icon">🟢 online</div>
        <div class="connected-name">David </div>
      </div>
      <div class="connected-item">
        <div class="connected-icon">🟢 online</div>
        <div class="connected-name">Geraldine</div>
      </div>
      <div class="connected-item">
        <div class="connected-icon">🔴 offline</div>
        <div class="connected-name">Bruno</div>
      </div>
      <div class="connected-item">
        <div class="connected-icon">🔴 offline</div>
        <div class="connected-name">Matias</div>
      </div>
      <div class="connected-item">
        <div class="connected-icon">🟢 online</div>
        <div class="connected-name">Oliver</div>
      </div>
    </div>
    <div class="images">
      <div class="images-item">
        <div class="images-icon">🖼️</div>
        <div class="images-info">Imagenes compartidas 7 Fotos</div>
      </div>
      <div class="images-item">
        <div class="images-icon">🖼️</div>
        <div class="images-info">Imagenes compartidas 6 Fotos</div>
      </div>
      <div class="images-item">
        <div class="images-icon">🖼️</div>
        <div class="images-info">Imagenes compartidas 5 Fotos</div>
      </div>
      <div class="images-item">
        <div class="images-icon">🖼️</div>
        <div class="images-info">Imagenes compartidas 4 Fotos</div>
      </div>
      <div class="images-item">
        <div class="images-icon">🖼️</div>
        <div class="images-info">Imagenes compartidas 3 Fotos</div>
      </div>
    </div>
  </div>
</div>

