<div class="container">
  <div class="container-chat-list">
    <div class="search">
      <app-search-box></app-search-box>
    </div>
    <div class="chat-list">
      <!-- <div *ngIf="isLoading; else chatList">
        <app-loader></app-loader>
      </div> -->
      <div *ngIf="currentComponent === 'chat-list'">
        <app-chat-list ></app-chat-list>
      </div>
      <div *ngIf="currentComponent === 'contact-list'">
      <app-contact-book></app-contact-book>
      </div>
      <!-- <app-chat-list ></app-chat-list> -->
      <!-- <ng-template #chatList>
        <app-chat-list></app-chat-list>
      </ng-template> -->


      <!-- <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">20m</div>
      </div>
      <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">1h</div>
      </div>
      <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">2h</div>
      </div>
      <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">3h</div>
      </div>
      <div class="chat-item">
        <div class="chat-icon">🖼️</div>
        <div class="chat-info">
          <div class="chat-name">Nombre del chat</div>
          <div class="chat-text">Texto del ultimo mens.</div>
        </div>
        <div class="chat-time">4h</div>
      </div> -->
    </div>
  </div>
  <div class="main">
    <div class="header">
      <div>
        <div class="header-name">Nombre del Contacto</div>

        <div class="header-connected">
          online
        </div>
      </div>

      <div class="search-box-message">
        <input type="text" id="search" />
         <button class="more-options"><img src="../../../assets/icons/more.svg"></button>
      </div>


    </div>

    <div class="messages">
      <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message sent">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
      <div class="message received">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
        odio. Praesent libero.
      </div>
    </div>
    <div class="input-message">
      <div class="images-icon">
        <button class="btn-import">
          <img src="../../../assets/icons/img2.svg" alt="" />
        </button>
      </div>
      <input type="text" />
      <button class="btn-send">
        <img class="icon-send" src="../../../assets/icons/send.svg" alt="" />
      </button>
    </div>
  </div>

  <div class="sidebar-right">
    
    <app-column-right></app-column-right>
    <!-- <app-contact-connected></app-contact-connected> -->
    <!--     <div class="contact">
      <app-profile></app-profile>
    </div>
    <div class="column-right">
    <div class="connected">

      <div class="contact-profile">
        <div class="contact-avatar">
           <app-avatar></app-avatar></div>
        <div class="name-status">
          <h2 class="contact-name">Contactos conectados</h2>
          <p class="contact-status">10 contactos</p>
        </div>
      </div>

      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      <div class="connected-item">
        <app-card-profile></app-card-profile>

      </div>
    </div>
    <div class="images">
      <app-card-images></app-card-images>

    </div>
  </div> -->
  </div>
</div>
