   <div class="contact">
      <app-profile></app-profile>
    </div>
    <div class="column-right">
    <div class="connected">

      <div class="contact-profile">
        <div class="contact-avatar">
           <img src="../../../assets/icons/contact2.svg" alt="" width="30px" height="30px"/>
        </div>
        <div class="name-status">
          <h2 class="contact-name">Contactos conectados</h2>
          <p class="contact-status">10 contactos</p>
        </div>
      </div>
<div class="contact-list">
      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      <div class="connected-item">
        <app-card-profile></app-card-profile>
      </div>
      </div>
    </div>
    <div class="images">
       <app-card-images></app-card-images>

    </div>
  </div>
