.column-right{
  background-color: var(--DM-Normal);
  border-radius: 35px;
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:var(--DM-Normal);
    margin-bottom: 8px;
    width: auto;
    height: 67px;
    padding: 0.5rem;
    border-radius: 100px
}
