.column-right{
  overflow-y: scroll;
  background-color: #f0f0f0;
  border-radius: 35px;
  height: 500px;

}

.contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    margin-bottom: 8px;
    width: auto;
    height: 67px;
    padding: 0.5rem;
    border-radius: 100px
}

.contact-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  font-weight: bold;
}

.contact-status {
  color: var(--Featured);
}

.connected {
  border-radius: 0 35px 35px 0;
  max-height: 84vh;
}

/* ///////////////////////////// */
.contact-profile{
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.name-status{
  margin-left: 1rem;
}

.contact-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;

  font-weight: bold;
  align-items: flex-start;
}

.contact-status {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}
/* ///////////////////////////////////// */

.connected-item {
  height: 15%;
    display: flex;
    align-items: center;
    padding: 5px 5px 6px;
    justify-content: space-between;

    flex-wrap: wrap;
    flex-direction: row;
}

.connected-icon {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connected-name {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .images {
  height: 25%;
  margin: 0.5rem;


  overflow-y: scroll;

}


.chat-container {
  position: absolute;
  margin-left: 20%;
  min-height: 100vh;
  background-color: #ffffff;
}

.chat-content {
  padding: 20px;
}
.chat-container{
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  margin-top: 1rem;
  max-height: 95vh;
}
