.column-right{
  background-color: var(--DM-Normal);
  border-radius: 35px;


  /* probando  */
  display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

}

.contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:var(--DM-Normal);
    margin-bottom: 8px;
    width: auto;
    height: 67px;
    padding: 0.5rem;
    border-radius: 100px
}

.contact-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  color: var(--LM-Normal);
  letter-spacing: 0em;
  text-align: left;
  font-weight: bold;
}

.contact-status {
  color: var(--Secondary-Normal);
}

.connected {
  border-radius: 0 35px 35px 0;
  max-height: 84vh;
}

.contact-list{
  overflow-y: scroll;
 max-height: calc(45vh - 74px);/* Height of the header (73px) + Padding top and bottom (16px * 2 = 32px)*/

}

@media screen and (min-height:780px) {
.contact-list{
  max-height: calc(60vh - 74px);
}
}

/* ///////////////////////////// */
.contact-profile{
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
/*   margin-top: 1rem; */
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding-top: 1rem;
}

.name-status{
  margin-left: 1rem;
}

.contact-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-align: left;

  font-weight: bold;
  align-items: flex-start;
}

.contact-status {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}
/* ///////////////////////////////////// */

.connected-item {
  height: 15%;
    display: flex;
    align-items: center;
    padding: 5px 5px 6px;
    justify-content: space-between;

    flex-wrap: wrap;
    flex-direction: row;
}

.connected-icon {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.connected-name {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .images {
  height: 25%;
  margin:0 4px;

}


.chat-container {
  position: absolute;
  margin-left: 20%;
  min-height: 100vh;
  background-color: #ffffff;
}

.chat-content {
  padding: 20px;
}
.chat-container{
  border: 1px solid #e0e0e0;
  border-radius: 25px;
  margin-top: 1rem;
  max-height: 95vh;
}
