<div class="card-images">
  <div class="card-title">
    <h5>Imágenes compartidas</h5>
    <p>7 fotos</p>
  </div>
  <div class="card-body">
    <div>
      <img  class="img-shared" src="../../../assets/images/planetas.jpg" alt="">
    </div>
    <div>
      <img class="img-shared" src="../../../assets/images/planetas.jpg" alt="">
    </div>
    <div>
      <img class="img-shared" src="../../../assets/images/planetas.jpg" alt="">
    </div>
    <div>
      <img class="img-shared" src="../../../assets/images/planetas.jpg" alt="">
    </div>
  </div>
</div>
