.card-images {
	border-radius: 32px;
	background: linear-gradient(145deg, var(--DM-Normal-active), var(--DM-Normal-active));
	background-clip: padding-box;
	border-top: 2px solid var(--DM-Darker);
}

.card-title {
	display: flex;
	align-content: flex-end;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	margin-left: 1rem;
	padding-top: 1rem;
	padding: 1rem;
	color: var(--LM-Normal);
}

.icon-images {
	width: 30px;
	height: 30px;
}

.photos {
	font-family: "Nanum Pen Script", cursive;
	color: var(--Feature-Normal);
}

.img-shared {
	border-radius: 15px;
	align-self: end;
	max-width: 50%;
	max-height: auto;
}

.gallery {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	overflow-y: scroll;
	scrollbar-color: var(--DM-Dark) var(--DM-Normal-hover);
	scrollbar-width: thin;
	max-height: calc(36vh - 64px);
}

.gallery .img-shared {
	margin: 0 7px 7px 0;
}

.img-shared {
	width: 93px;
	height: 93px;
}
