<div class="card-images">
  <div class="card-title">
    <div class="icon-images">
      <img src="../../../assets/icons/img2.svg" alt=""/>
   </div>
   <div>
    <h5>Imágenes compartidas</h5>
    <p class="photos">7 fotos</p>
    
  </div>
  </div>
 <!--  <div class="card-body">
    <div class="imag">
      <img  class="img-shared" src="../../../assets/images/planetas.jpg" alt="">
    </div>
    <div  class="imag">
      <img class="img-shared" src="../../../assets/images/planetas.jpg" alt="">
    </div>
    <div class="imag">
      <img class="img-shared" src="../../../assets/images/planetas.jpg" alt="">
    </div>
    <div class="imag">
      <img class="img-shared" src="../../../assets/images/planetas.jpg" alt="">
    </div>
  </div> -->
  <div class="gallery">
    <div>
      <img class="img-shared" src="https://picsum.photos/150" />
      <img class="img-shared" src="https://picsum.photos/150" />
    </div>

    <div>
      <img class="img-shared" src="https://picsum.photos/150" />
      <img class="img-shared" src="https://picsum.photos/150" />
    </div>
  </div>
</div>
