<nav>
  <div>
    <img src="logo.svg" class="logo">
  </div>

  <div>
    <button routerLink="/chat-list"><img src="./assets/icons/chats.svg" alt="Mensajes" width="30px" height="30px"></button>
    <button routerLink="/contacts"><img src="./assets/icons/contacts.svg" alt="Contactos" width="30px" height="30px"></button>
  </div>

  <div>
    <button routerLink="/profile"><img src="./assets/icons/user.svg" alt="Perfil" width="30px" height="30px"></button>
    <button><img src="./assets/icons/moon.svg" alt="Tema" width="30px" height="30px"></button>
    <button>Salir</button>
  </div>
</nav>
