<div class="connected">
  <div class="contact-profile">
    <div class="contact-avatar">
      <img
        src="../../../assets/icons/img2.svg"
        alt=""
        width="30px"
        height="30px"
      />
    </div>
    <div class="name-status">
      <h2 class="contact-name" style="color: var(--LM-Normal)">
        Todos los contactos
      </h2>
      <p class="contact-status" style="color: var(--Feature-Normal)">
        97 contactos
      </p>
    </div>
  </div>
  <div class="contact-list">
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
  </div>
</div>
