.connected {
	border-radius: 0 35px 35px 0;
	max-height: 84vh;
	margin-left: 20px;
}

.contact-profile {
	display: flex;
	align-content: flex-end;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}

.name-status {
	margin-left: 1rem;
}

.contact-name {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	font-weight: bold;
	align-items: flex-start;
}

.contact-status {
	font-family: "Nanum Pen Script", cursive;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
}

.contact-list {
	overflow-y: scroll;
	scrollbar-color: var(--DM-Dark) var(--DM-Normal-hover);
	scrollbar-width: thin;
	max-height: calc(85vh - 74px);
}

.connected-item {
	height: 15%;
	display: flex;
	align-items: center;
	padding: 5px 5px 6px;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
