*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  max-height: 100vh;
  overflow-y: hidden;
  font-family: "Roboto", sans-serif;
}

/* Estilos para el tema light */
.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para el tema dark */
.dark-theme {
  background-color: #1f1f1f;
  color: #ffffff;
}
