.contenedor {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 100vh;
	overflow-y: hidden;
	gap: 30px;
	font-size: small;
}

.title-form,
.link-l {
	color: var(--Primary-Normal);
}

.link-l {
	text-decoration: none;
	font-weight: bold;
}

.logo-con-frase {
	max-width: 80%;
	height: auto;
	margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
	.logo-con-frase {
		max-width: 70%;
		height: auto;
		margin-left: 2rem;
		margin-right: 2rem;
		margin-bottom: 0;
	}

	.name {
		flex-direction: column;
	}
}

.box-register {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-form {
	font-family: 'Nanum Pen Script', cursive;
	font-size: xxx-large;
	font-size: -webkit-xxx-large;
	margin-bottom: 1rem;
}

.link-login {
	text-align: center;
}

.form-register {
	background-color: var(--LM-Normal);
	padding: 1.5rem;
	border-radius: 35px;
}

.name {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.names,
.lastnames {
	min-width: 49%;
}

@media screen and (max-width: 764px) {
	#name,
	#lastname {
		min-width: 100%;
	}
}

#name,
#lastname,
#email,
#password,
#btn-register {
	padding: 1rem;
	border-radius: 10px;
	border: 0;
	margin-bottom: .5rem;
	width: 100%;
	margin-top: .5rem;
}

#btn-register {
	background: #af203b;
	background: linear-gradient(160deg, #af203b, #f54868);
	color: white;
	box-shadow: #888 0 -1px 3px 0 inset, rgb(97 0 0 / 23%) 0 3px 6px 0;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	min-height: 56px;
	min-width: 120px;
	transition: all .2s cubic-bezier(.22, .61, .36, 1);
}

#btn-register:hover {
	background: linear-gradient(160deg, #af203b, #f54868);
	color: white;
	box-shadow: #888 0 -1px 3px 0 inset, rgb(97 0 0 / 23%) 0 3px 6px 0;
}

.label-name,
.label-lastname,
.label-email,
.label-pass {
	color: var(--DM-Dark);
}

.info {
	color: gray;
}
