.connected2 {
	border-radius: 0 35px 35px 0;
	max-height: 84vh;
}

.contact-profile2 {
	display: flex;
	align-content: flex-end;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 0 1rem 1rem;
	padding-top: 1rem;
}

.name-contact {
	margin-left: 1rem;
}

.title-contact {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-align: left;
	color: var(--LM-Light);
	font-weight: bold;
}

.count-contact {
	font-family: "Nanum Pen Script", cursive;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	color: var(--Secondary-Normal);
}

.contact-list2 {
	overflow-y: scroll;
	scrollbar-color: var(--DM-Dark) var(--DM-Normal-hover);
	scrollbar-width: thin;
	max-height: calc(45vh - 74px);
}

@media screen and (min-height: 780px) {
	.contact-list2 {
		max-height: calc(60vh - 74px);
	}
}

.connected-item2 {
	height: 15%;
	display: flex;
	align-items: center;
	padding: 5px 5px 6px;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}

.images {
	height: 25%;
	margin: 0 4px;
}
