<div class="connected2">
  <div class="contact-profile2">
    <div class="contact-avatar2">
      <img
        src="../../../assets/icons/contact2.svg"
        alt=""
        width="30px"
        height="30px"
      />
    </div>
    <div class="name-contact">
      <h2 class="title-contact">Contactos conectados</h2>
      <p class="count-contact">10 contactos</p>
    </div>
  </div>
  <div class="contact-list2">
    <div class="connected-item2"><!-- ng for -->
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
    <div class="connected-item">
      <app-card-profile></app-card-profile>
    </div>
  </div>
</div>
<div class="images">
  <app-card-images></app-card-images>
</div>
